

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
  font-family: 'Roboto Condensed', sans-serif;
}
.img {
width: 15%;
margin: auto;
}
:root{
  --primary-orange:#f9ab00;
  --primary-dark:rgb(255,255,255,0);
}

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  
}

nav ul li {
text-transform: uppercase;
}
nav .navbar-nav li a{
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  color: white !important;
  border-top: 0.1875rem solid var(--primary-dark);
  }

 .navbar-brand{
   width: 19.65rem;
   padding: 0 !important;
   height:auto;

 } 
 .navbar-nav li> a.active, .navbar-nav > li >a:active:focus
 {
   border-top: 0.1875rem solid var(--primary-orange);
  
 }
 .navbar-nav li> a:hover
 {
  border-top: 0.1875rem solid var(--primary-orange);
 }